/* 폰트/텍스트 관련 속성
font-size
font-style
font-weight
 */

 .text {
   font-size: 24px;
   font-style: italic;
   font-weight : bold;
  }

/* font-family */
.text {
  font-family: 'Times New Roman', Times, serif;
}
/* 
폰트/텍스트 관련 속성
font(shorthand) */
.text {
  color: red;
  font: italic 100 20px/1.7 'Times New Roman', Times, serif
  }

/* .text {
color: red;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
} 위와 같다*/

/* 폰트/텍스트 관련 속성
letter-spacing, word-spacing */

.text {
  letter-spacing: 3px;
}
.text {
  word-spacing: 10px;
}

/* text-decoration */
span {
  color: blue;
  text-decoration: underline overline red 3px wavy;
}

.container p:last-of-type {
  text-transform: capitalize;
}