#sample {
  width: 400px;
  transform: scale(0.5) rotate(45deg) translate(100px,200px) transform-origin: top left;
 ;
}


.box {
  width: 300px;
  height: 80px;
  border: 2px dashed teal;
  background-color: darkgoldenrod;
  font-size: 50px;
  color: white;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
}

.box:hover {
  background-color: tomato;
  height: 400px;
}

.Hello {
  width: 100px;
  height: 100px;
  border: 10px solid seagreen;
  border-radius: 30px;
  background-color:rgb(3, 200, 10);
  transition:  all 2s ease-in;
  transform-origin : bottom right;
      }
.Hello:hover {
  transform: rotate(360deg) translateY(30px); 
}

div {
  width: 100px;
  height: 100px;
  border: 10px solid seagreen;
  border-radius: 30px;
  background-color:rgb(3, 200, 10);
  animation: my-first-one 1s infinite
}

.FA1 {
  background-color: rgb(3, 200, 10);
  animation-delay: 0.7s; 
}
.FA2 {
  background-color: rgb(101, 125, 153);
  
  animation-delay: 1s;
}
.FA3 {
  background-color: rgb(200, 3, 141);
  
  animation-delay: -0.3s;
}
  
@keyframes my-first-one {
  0% {font-size: 20px;
  }
  50% {width: 300px;
  font-size: 80px;}
  100% {font-size: 20px;}
}


.box1 {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  width: 100px;
  height: 100px;
  border: 10px solid green;
  background-color: greenyellow;
}

.box2 {  
  animation: fill-mode 2s linear;
  animation-fill-mode: backwards; 
  }


@keyframes fill-mode {
  0% { background-color: blueviolet;}
  50% { background-color: blue;}
 100% { background-color: cornflowerblue;}
}